.main {
  margin: 0 auto;
  max-width: 1400px;
}

.content {
  margin: 0 60px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 743px;
}

.hero-text p {
  width: 534px;
  margin: 20px 0 60px;
}

.homemain {
  width: 629px;
  height: 620px;
}

.homesecond {
  padding: 70px 0;
}
