@font-face {
  font-family: Ferry;
  src: url("./fonts/ferry_black.otf");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.otf");
}

body {
  margin: 0 60px;
}

h1 {
  font-family: Ferry;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 1%;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
