@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: Ferry;
  src: url("./fonts/ferry_black.otf");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.otf");
}

body {
  margin: 0;
}

h1 {
  font-family: Ferry;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 1%;
}

h2 {
  color: #000;
  font-family: Ferry;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.45px;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

li {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.slick-prev:before,
.slick-next:before {
  color: #2F54EB;
}

.slick-dots li button:before {
  color: #2F54EB;
}
